#jsforwp-like button {
  margin: 20px auto 20px;
  display: block;
}

#jsforwp-like button:disabled {
  opacity: 0.5;
}

#jsforwp-like button:disabled:hover {
  cursor: not-allowed;
  text-decoration: none;
}
